/.gradle/
/.idea/
/.settings/
/bin/
/build/
/target/
/out/production/classes/morgan/
/logs/
/lib/libsvm/
/lib/apache-freemarker-2.3.28-src/
/lib/jeromq-0.5.0/
._.DS_Store
.DS_Store
gradlew
gradlew.bat
protocol/
*.log
*.class
*.ttf
*.woff2
*.woff
morgan-*/
*/.vscode
.gradle
files/
