#Database
$DB_URL = jdbc:mysql://localhost:3306/morgan?useSSL=false&serverTimezone=UTC&nullCatalogMeansCurrent=true
$DB_USER = root
$DB_PASSWORD = 123456
$DB_MERGE_LIMIT = 50
$DB_WORKER_NUM = 5
$DB_LOAD_FROM_META = 0
$DB_DEF_PATH = morgan.DBDefs
$DB_CREATE_OR_UPDATE_BEFORE_START = 1

#ports
$HTTP_PORT = 8080
$TCP_PORT = 13139

#system
$SERVER_ID = 1001
$DISPATCH_THREADS = 5